.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
}

.navbar-left {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar-right a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navbar-right a:hover {
    text-decoration: underline;
}